 <!-- Card Group -->
 <div class="container">
    <h2 class="h1">Featured Drinks</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 card-group text-center justify-content-center">
        <div class="col card-container">
            <div class="card mx-3 my-4 border-primary">
                <img src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Margarita</h5>
                  <p class="card-text">The classic Margarita, made popular during the Prohibition era in the USA.</p>
                  <a href="/recipes/11007" class="btn btn-secondary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/wx7hsg1504370510.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Long Island Iced Tea</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/recipes/17204" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/kpsajh1504368362.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cosmopolitan</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/recipes/17196" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4 border-primary">
                <img src="https://www.thecocktaildb.com/images/media/drink/3pylqc1504370988.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moscow Mule</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/recipes/11009" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Second Row of Drinks -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-center justify-content-center">
        <div class="col card-container">
            <div class="card mx-3 my-4 border-primary">
                <img src="https://www.thecocktaildb.com/images/media/drink/6ck9yi1589574317.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: 800;">Dry Martini</h5>
                  <p class="card-text">A well-made dry Martini is elegance in a glass.</p>
                  <a href="/recipes/11005" class="btn btn-secondary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Old Fashioned</h5>
                  <p class="card-text">The Timeless Classic.</p>
                  <br>
                  <a href="/recipes/11001" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/mrz9091589574515.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Daiquiri</h5>
                  <p class="card-text">A clean and refreshing drink for any occasion.</p>
                  <a href="/recipes/11006" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/hbkfsh1589574990.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Whiskey Sour</h5>
                  <p class="card-text">The dependable drink is an easy fit for whiskey lovers.</p>
                  <a href="/recipes/11004" class="btn btn-primary">Full Recipe</a>
                </div>
            </div>
        </div>
    </div>
       
</div>
  
<!-- END Card Group -->