 <!-- Card Group -->
 <div class="container">
    <h2 class="h1">Featured Drinks</h2>

    <!-- New Card Group -->

    <div class="row row-cols-1 row-cols-sm-2 card-group justify-content-center text-center align-items-center">
        <div class="col mb-3 ">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=margarita">
                    <img src="https://www.thecocktaildb.com/images/media/drink/5noda61589575158.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Margarita</h5>
                      <p class="card-text">The classic Margarita, made popular during the Prohibition era in the USA.</p>
                    </div>
                    <a class="btn btn-outline-success" href="recipes/result/:name?name=margarita">Full Recipe</a>
                  </div>
                  
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=long+island">
                    <img src="https://www.thecocktaildb.com/images/media/drink/wx7hsg1504370510.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Long Island Iced Tea</h5>
                      <p class="card-text">Robert "Rosebud" Butt claims to have invented the Long Island iced tea as an entry in a contest to create a new mixed drink with triple sec in 1972m while in NY.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=long+island">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=Cosmopolitan">
                      <img src="https://www.thecocktaildb.com/images/media/drink/kpsajh1504368362.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Cosmopolitan</h5>
                      <p class="card-text">The IBA recipe is based on vodka citron, lemon-flavored vodka. The cosmopolitan is a relative of cranberry coolers like the Cape Codder.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Cosmopolitan">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="result/:name?name=Moscow+Mule">
                      <img src="https://www.thecocktaildb.com/images/media/drink/3pylqc1504370988.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Moscow Mule</h5>
                      <p class="card-text">Despite the name, this drink was created in the USA.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Moscow+Mule">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=Dry+Martini">
                      <img src="https://www.thecocktaildb.com/images/media/drink/6ck9yi1589574317.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Dry Martini</h5>
                      <p class="card-text">A well-made dry Martini is elegance in a glass.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Dry+Martini">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=Old+Fashioned">
                      <img src="https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Old Fashioned</h5>
                      <p class="card-text">A Timeless Classic.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Old+Fashioned">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=Daiquiri">
                      <img src="https://www.thecocktaildb.com/images/media/drink/mrz9091589574515.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Daiquiri</h5>
                      <p class="card-text">A clean and refreshing drink for any occasion.</p>
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Daiquiri">Full Recipe</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card border-warning">
                <div class="row">
                  <div class="col-md-4">
                    <a href="recipes/result/:name?name=Whiskey+Sour">
                      <img src="https://www.thecocktaildb.com/images/media/drink/hbkfsh1589574990.jpg/preview" class="img-fluid rounded-start" alt="...">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Whiskey Sour</h5>
                      <p class="card-text">The dependable drink is an easy fit for whiskey lovers.
                      <a class="btn btn-outline-success" href="recipes/result/:name?name=Whiskey+Sour">Full Recipe</a>
                    </p>
        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
   <!--  END New Card Group -->



    <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-center justify-content-center">
        <div class="col card-container">
            <div class="card mx-3 my-4 border-success">
                <img src="https://www.thecocktaildb.com/images/media/drink/6ck9yi1589574317.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: 800;">Dry Martini</h5>
                  <p class="card-text">A well-made dry Martini is elegance in a glass.</p>
                  <a href="/recipes/11005" class="btn btn-secondary">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Old Fashioned</h5>
                  <p class="card-text">The Timeless Classic.</p>
                  <br>
                  <a href="/recipes/11001" class="btn btn-outline-success">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/mrz9091589574515.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Daiquiri</h5>
                  <p class="card-text">A clean and refreshing drink for any occasion.</p>
                  <a href="/recipes/11006" class="btn btn-outline-success">Full Recipe</a>
                </div>
            </div>
        </div>
        <div class="col card-container">
            <div class="card mx-3 my-4">
                <img src="https://www.thecocktaildb.com/images/media/drink/hbkfsh1589574990.jpg/preview" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Whiskey Sour</h5>
                  <p class="card-text">The dependable drink is an easy fit for whiskey lovers.</p>
                  <a href="/recipes/11004" class="btn btn-outline-success">Full Recipe</a>
                </div>
            </div>
        </div>
    </div> -->
       
</div>
  
<!-- END Card Group -->