<nav class="alphabetic-navigation">
    <ul class="nav-list">
      <li class="numbers-container"><a href="/recipes/list/1-10/">#</a></li>
      <li><a href="/recipes/list/a">A</a></li>
      <li><a href="/recipes/list/b">B</a></li>
      <li><a href="/recipes/list/c">C</a></li>
      <li><a href="/recipes/list/d">D</a></li>
      <li><a href="/recipes/list/e">E</a></li>
      <li><a href="/recipes/list/f">F</a></li>
      <li><a href="/recipes/list/g">G</a></li>
      <li><a href="/recipes/list/h">H</a></li>
      <li><a href="/recipes/list/i">I</a></li>
      <li><a href="/recipes/list/j">J</a></li>
      <li><a href="/recipes/list/k">K</a></li>
      <li><a href="/recipes/list/l">L</a></li>
      <li><a href="/recipes/list/m">M</a></li>
      <li><a href="/recipes/list/n">N</a></li>
      <li><a href="/recipes/list/o">O</a></li>
      <li><a href="/recipes/list/p">P</a></li>
      <li><a href="/recipes/list/q">Q</a></li>
      <li><a href="/recipes/list/r">R</a></li>
      <li><a href="/recipes/list/s">S</a></li>
      <li><a href="/recipes/list/t">T</a></li>
      <li><a href="/recipes/list/u">U</a></li>
      <li><a href="/recipes/list/v">V</a></li>
      <li><a href="/recipes/list/w">W</a></li>
      <li><a href="/recipes/list/x">X</a></li>
      <li><a href="/recipes/list/y">Y</a></li>
      <li><a href="/recipes/list/z">Z</a></li>
    </ul>
  </nav>