
    <div class="container">
        <%- include('./partials/tagline.ejs') %>
        <%- include('./partials/carousel.ejs') %>
    </div>
        <%- include('./partials/featured-drinks') %> 
        
    
