
html,body{
    font-family: 'Lato', sans-serif;
}

/* .card-container{
    max-width: 400px;
    width: 100%;
} */

.card-title{
    font-weight: 800;
}

.ingredients-container{
    display: flex;
    justify-content: left;
}

.item-ingr, .item-meas{
    display: block;
    margin:5px 0px;
}


th{
    font-weight: 800;
}

.alphabetic-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-list li{
    padding:5px;
}

.recipe-wrapper{
    display: flex;
    border: 5px solid red;
    flex-wrap: wrap;
}

.drink-name{
    font-weight: 700;
    font-size: 1.2rem;
    color:black;
    text-decoration: none;
}
.drink-name:hover{
    text-decoration: underline;
    color: black;
}

.col .drink-card{
    background-color:white;
    transition: background-color .05s ease-in-out, box-shadow .05s ease-in-out;
}

.col .drink-card:hover{
    background-color: #eee;
    box-shadow: 5px 5px 5px #5d5d5d;
}

.numbers-container{
    display: block;
    position: relative;
}

.numbers-list{
    display: flex;
    position: absolute;
    top: 15px;
    z-index: 10;
    width: 200px;
    padding: 1px 10px;
    border: slateblue 2px solid;
}

.letter{
    font-weight: 800;
    text-transform: uppercase;
}


@media only screen and (max-device-width:767px){
    .col > .ingredient-title {
        margin-top: 25px !important;
    }
}