<div class="container mt-5" style="height: 80vh;">
    <h1>About ¡Salud!</h1>
    <br>
    <h3>For Drinks Enthusiasts</h3>
    <p><b>Salud</b> is a drinks/cocktails recipe finder. If you're looking for ideas for your next party, get-together, reunion, etc.. then you've come to the right place!</p>
    <h5>How to Navigate</h5>
    <p>Please use the navigation bar on the top of the page to make your way around the site. To view all drinks, click the <a href="/recipes">recipes</a> link. To narrow down your search, please use the <a href="#">category</a> link, or use search field to find drinks by name.</p>
    <div class="line-divider"></div>
    <h3> For Developers </h3>
    <p>This site utilizes the awesome <a href="https://www.thecocktaildb.com/api.php" target="_blank">CocktailDB</a>. Simple to follow instructions, read and output data. Highly recommended if you're new to APIs. </p>
    <h5>Github Link</h5>
    <p>The link to this project's code repository is <a href="https://github.com/mauricechevez/fe-challenge-prompt3" target="_blank"><b>here</b></a></p>

</div>