<div class="container my-5">
    <h1>Mixed Drinks</h1>
    <p>According to this <a href="https://en.wikipedia.org/wiki/Mixed_drink" target="_blank">Wikipedia article</a>, a mixed drink is : "...is a beverage in which two or more ingredients are mixed. Some contain liquor, others are non-alcoholic. A "spirit and mixer" is any combination of one alcoholic spirit with one non-alcoholic component, such as gin and tonic, whereas a cocktail generally comprises three or more liquid ingredients, at least one of which is alcoholic."</p>
  
    <%- include('../partials/allDrinksListNonAlc') %> 
    
  
  </div>